.nav-bar3{
    font-size: 14px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.179) ;
}

.sortby{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.551);
    z-index: 1px;
    border-radius: 7px;
}
.sortby{
    font-size: 11px;
    &__dropdown {  
        position: relative;
        display: inline-block;
    }
    
    .dropdown__toggle {
        cursor: pointer;
        padding: 3px 6px;
        display: flex;
        align-items: center;
    }
    .dropdown__content {
        display: none;
        position: absolute;
        right: -10px;
        min-width: 150px;
        z-index: 5px;
    }  
    .dropdown__content div {
        font-size: 11px;
        padding: 4px;
        cursor: pointer;
    }
    
    .dropdown__content div:hover {
        background-color: #878787;
        color: white;
    }
    
    &__dropdown:hover .dropdown__content {
        display: block;
    }   
}

