<div class="nav-bar3">
    <div class="left">1-5 of over 50,000 results</div>
    <button class="sortby" type="button" aria-label="sort-by-button">
        <div class="sortby__text">Sort by: </div>
        <div class="sortby__dropdown">
            <div class="dropdown__toggle">
                <span>Featured</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div>Price: Low to High</div>
                <div>Price: High to Low</div>
                <div>Avg. Customer Review</div>
                <div>Newest Arrivals</div>
                <div>Best Sellers</div>
            </div>
        </div>   
    </button>

</div>

