<div class="nav-bar1">
    <img class="amazon-logo" src="../../assets/images/amazon.png" alt="amazon-logo"/>
    <div class="location">
        <img class="location__icon" src="../../assets/images/loc.png"alt="location-icon"/>
        <div class="location__right">
            <div class="location__text">Delivering to Kochi 682018</div>
            <div class="location__country">Update Location</div>
        </div>
    </div>
    <form class="searchbar" (ngSubmit)="onSubmit(form)" #form="ngForm" action="www.example.com">
        <select class="dropdown__toggle" id="category" name="category" aria-label="category" required [(ngModel)]="selectedCategory" #categoryInput="ngModel">
            <option value="" disabled selected>Select a category</option>
            <option value="baby">Baby</option>
            <option value="clothing">Clothing</option>
            <option value="books">Books</option>
            <option value="deals">Deals</option>
            <option value="electronics">Electronics</option>
            <option value="luggage">Luggage</option>
        </select>
        
    
        <input class="searchbar__input" id="search" name="search" type="text" placeholder="Search Amazon" required autofocus [(ngModel)]="searchQuery" #searchInput="ngModel" />
    
        <button class="searchbar__icon" type="submit" aria-label="search-button">
            <i class="fas fa-search fa-lg"></i>
        </button>
    </form>
<!--     
    <div *ngIf="form.controls['category'].invalid && form.controls['category'].touched">
        Please select a category.
    </div> -->
    
    <div class="nav-right">
        <div class="language">
            <img class="language__icon" src="../../assets/images/india.jpg" alt="usa-flag"/>
            <div class="language__current">
                <span>EN</span>
                <i class="fas fa-chevron-down fa-xs"></i>
            </div>
        </div>
        <div class="user">
            <div class="user__name">Hello, sign in</div>
            <div class="user__menu">
                <span>Accounts & Lists</span> 
                <i class="fas fa-chevron-down fa-xs"></i>
            </div>
        </div>
        <div class="return-order">
            <div class="return-order__return">Returns</div>
            <div class="return-order__order">& Orders</div>
        </div>
        <div class="cart">
            <div>
                <img class="cart__icon" src="../../assets/images/cart.png" alt="cart"/>
                <div class="cart__number">0</div>
            </div>
            <div class="cart__text">Cart</div>
        </div>
    </div>

</div>
