<div class="nav-bar1">
    <img class="amazon-logo" src="../../assets/amazon.png" alt="amazon-logo"/>
    <div class="location">
        <img class="location__icon" src="../../assets/loc.png"alt="location-icon"/>
        <div class="location__right">
            <div class="location__text">Deliver to</div>
            <div class="location__country">India</div>
        </div>
    </div>
    <div class="searchbar">
        <div class="searchbar__dropdown">
            <div class="dropdown__toggle">
                <span>Clothing</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="dropdown__content">
                <div>Baby</div>
                <div>Clothing</div>
                <div>Books</div>
                <div>Deals</div>
                <div>Electronic</div>
                <div>Luggage</div>
            </div>
        </div>        
        <input class="searchbar__input" type="text" placeholder="Search Amazon"/>
        <div class="searchbar__icon"><i class="fas fa-search fa-lg"></i></div>
    </div>
    <div class="nav-right">
        <div class="language">
            <img class="language__icon" src="../../assets/usa-flag.jpg" alt="usa-flag"/>
            <div class="language__current">
                <span>EN</span>
                <i class="fas fa-chevron-down fa-xs"></i>
            </div>
        </div>
        <div class="user">
            <div class="user__name">Hello, sign in</div>
            <div class="user__menu">
                <span>Accounts & Lists</span> 
                <i class="fas fa-chevron-down fa-xs"></i>
    
            </div>
        </div>
        <div class="return-order">
            <div class="return-order__return">Returns</div>
            <div class="return-order__order">& Orders</div>
        </div>
        <div class="cart">
            <div>
                <img class="cart__icon" src="../../assets/cart.png" alt="cart"/>
                <div class="cart__number">0</div>
            </div>
            <div class="cart__text">Cart</div>
        </div>
    </div>

</div>
